<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ylj.mapper.UserMapper">
    <select id="selectAll" resultType="user">
        select * from user
    </select>

    <insert id="insert" parameterType="cn.ylj.entity.UserEntity">
<!--        insert into user values (#{id},#{username},#{password},#{gender},#{age},#{address},#{qq},#{email})-->
        insert into user
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="username != null and username != ''">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                createAt = #{createAt}
            </if>
        </set>
    </insert>

    <update id="update" parameterType="cn.ylj.entity.UserEntity">
        update user set username = #{username}, address=#{address} where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <resultMap id="userOrderMap" type="cn.ylj.entity.UserEntity">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="gender" property="gender"></result>
        <result column="age" property="age"></result>
        <result column="address" property="address"></result>
        <result column="qq" property="qq"></result>
        <result column="email" property="email"></result>
        <result column="createAt" property="createAt"></result>
        <collection property="orders" ofType="cn.ylj.entity.OrderEntity">
            <id column="oid" property="id"></id>
            <result column="total" property="total"></result>
            <result column="ordertime" property="ordertime"></result>
        </collection>
    </resultMap>

    <select id="selectOneWithOrderByUid" resultMap="userOrderMap">
        select
        *,
        o.id as 'oid'
        from `user` u, `order` o
        where u.id = o.uid
        and u.id = #{id}
    </select>
</mapper>